<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.facebook.com/puspendra.63" target="_blank">
        <i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        href="https://www.instagram.com/rocker_puspendra?igsh=MTc1cHhyMzJ5NXRwag=="
        target="_blank"
      >
        <i class="fa-brands fa-square-instagram"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/puspendrabirajee?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://wa.me/9779827030764" target="_blank">
        <i class="fa-brands fa-square-whatsapp"></i>
      </a>
    </div>
    <div class="f-info-brand">
      &copy; 2025 GharVada Private Limited&trade;. All rights reserved.
    </div>
    <div class="f-info-links">
      Designed & Developed by&nbsp;
      <a
        href="https://www.linkedin.com/in/puspendrabirajee?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        >Puspendra Birajee</a
      >
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a> &nbsp;&nbsp;&nbsp;
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
